body { background: #1bdc67; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 49px; display: flex; }
.block-email-0 { color: #365400; font-size: 19px; margin-bottom: 5px; }
.block-session-1 { color: #c47b38; font-size: 19px; margin-bottom: 5px; }
.block-user-2 { color: #61fe03; font-size: 20px; margin-bottom: 5px; }
.block-filter-3 { color: #906b36; font-size: 15px; margin-bottom: 5px; }
.block-product-4 { color: #225c48; font-size: 13px; margin-bottom: 5px; }
.block-session-5 { color: #55e8f9; font-size: 12px; margin-bottom: 5px; }
.block-cart-6 { color: #bccf2; font-size: 19px; margin-bottom: 5px; }